@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Poppins-Bold";
    src: url("./assets/fonts/Poppins-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Poppins-Bold-Italic";
    src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
    font-weight: 800;
}

:root {
    --purple-primary: hsl(259, 100%, 65%);
    --red-primary: hsl(0, 100%, 67%);
    --white-neutral: hsl(0, 100%, 100%);
    --grey-neutral-100: hsl(0, 0%, 94%);
    --grey-neutral-200: hsl(0, 0%, 86%);
    --grey-neutral-500: hsl(0, 1%, 44%);
    --black-neutral: hsl(0, 0%, 0%);

}

body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    height: 100dvh;
}

.container {
    place-self: center;
    background-color: var(--white-neutral);
    margin: auto;
    align-self: center;
    justify-self: center;
    width: 50rem;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 200px 10px;

}

.birthday-form {
    display: flex;
    gap: 2.5rem;
    padding: 20px;
    border-radius: 5px;
    font-size: 32px;
}

.input-block {
    display: flex;
    flex-direction: column;
}

.input-block label {
    font-size: 16px;
    font-family: "Poppins-Bold", sans-serif;
    color: var(--grey-neutral-500);
    margin-bottom: 2px;
}

.input-block input {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border-color: var(--grey-neutral-200);
    border-style: solid;
    border-width: 1px;
    font-family: "Poppins-Bold", sans-serif;
    color:black;
    width: 140px;
    height: 50px;
}


.divider-w-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: left;
}

.divider-w-btn hr {
    color: var(--grey-neutral-200);
    background-color: var(--grey-neutral-200);
    height: 1px;
    width: 80%;
    margin: 0;
    pointer-events: none;
}

.icon-btn {
    display: flex;
    background-color: var(--purple-primary);
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.icon-btn:active {
    transform: scale(0.95);
}

.icon-btn img {
    width: 100%;
    pointer-events: none;
    user-select: none;
}

.output {
    padding-left: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    font-family: "Poppins-Bold-Italic", sans-serif;
}

.span {
    display: flex;
}

.output .num {
    font-size: 5rem;
    font-family: "Poppins-Bold-Italic", sans-serif;
    color: var(--purple-primary);
    width: fit-content;
    display: flex;
    margin-right: 10px;
}